# This is Git's per-user configuration file.
[user]
	name = Thomas
	email = hollandpirates@gmail.com
	signingkey = BB71073A25B9B76C
[core]
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -nosession
[mergetool "intellij"]
	cmd = 'C:/Users/s156757/AppData/Local/JetBrains/Toolbox/apps/IDEA-U/ch-0/182.4505.22/bin/idea.bat' merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    	trustExitCode = true
[merge]
	tool = intellij
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
[alias]
	br = checkout -b
	st = status -sb
	ci = commit -am
	co = checkout
	fancylog = log --graph --decorate --oneline --all
	cp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	# The ! is to make the | work
	# To use, configure git config sendemail.to address@mail.com. Then this will automatically send the latest commit.
    sendcommit = ! git format-patch -M HEAD^ | xargs git send-email && rm *.patch

[merge "theirs"]
	driver = true
[commit]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[pull]
	rebase = true
[sendemail]
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = todo@gmail.com
  smtppass = todo
  smtpserverport = 587
  suppresscc = self # Do send email also to author
  confirm = auto # Automatically confirm before sending mail
[winUpdater]
	recentlySeenVersion = 2.19.0.windows.1