# This is Git's per-user configuration file.
[user]
	name = Thomas
	email = hollandpirates@gmail.com
	signingkey = BB71073A25B9B76C
[core]
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -nosession
[mergetool "intellij"]
	cmd = 'C:/Users/s156757/AppData/Local/JetBrains/Toolbox/apps/IDEA-U/ch-0/182.4505.22/bin/idea.bat' merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    	trustExitCode = true
[merge]
	tool = intellij
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
[alias]
	br = checkout -b
	st = status -sb
	ci = commit -am
	co = checkout
	fancylog = log --graph --decorate --oneline --all

	# Commit and push. Parameter: commit message
	cp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"

	# The ! is to make the | work
	# To use, configure git config sendemail.to address@mail.com
	sendcommit = ! git format-patch -M HEAD^ | xargs git send-email && rm *.patch

	# Delete all local branches which are merged
	# Use ! to use |, escape \ and use ' instead of "
	delete-merged-branches = ! git branch --merged | egrep -v '(^\\*|master)' | xargs git branch -d

	# Chech which remote branches would be deleted. Parameter: remote name
	delete-merged-remote-branches-dry-run = ! git branch -r --merged | grep -v master | grep \"$@\" | sed 's/'$@'\\///' | xargs -n 1 echo
	delete-merged-remote-branches = ! git branch -r --merged | grep -v master | grep \"$@\" | sed 's/'$@'\\///' | xargs -n 1 git push --delete

[merge "theirs"]
	driver = true
[commit]
	gpgsign = true
[gpg]
	program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[pull]
	rebase = true
[sendemail]
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = todo@gmail.com
  smtppass = todo
  smtpserverport = 587
  suppresscc = self # Do send email also to author
  confirm = auto # Automatically confirm before sending mail
[winUpdater]
	recentlySeenVersion = 2.19.0.windows.1